footer {
  background: lighten($mainColor2, 10) url('./assets/header.jpg') no-repeat 50% 50% / cover;
	padding: 1.5rem 0;
	color: #fff;
  .inner{
    .wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .powered{
        img{
          height: 50px;
          filter: invert(100%);
        }
         .wrap {
           display: grid;
           grid-template-columns: repeat(6, 2fr);
           grid-gap:0.5px;
           grid-auto-rows: minmax(50px, auto);
           justify-content: center;
           align-items:center;
         }
      }
      .social {
        .icon {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap:0.2px;
          grid-auto-rows: minmax(20px, auto);
          justify-content: center;
          align-items:center;
          width:50%;
        }

        .circle {
          background-color: lighten($mainColor2, 10);
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items:center;
          &, &:hover {
            transition: 0.2s;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
        img{
          height: 30px;
          filter: invert(100%);
        }
      }
    }
  }

}
