$darkColor: hsla(213%, 9%, 25%, 1);
$blueColor: hsla(208%, 30%, 45%, 1);
$lightColor: hsla(173%, 10%, 82%, 1);
$darkestColor: hsla(210%, 19%, 13%, 1);
$greyColor: hsla(200%, 8%, 69%, 1);
$lighterColor: hsla(192%, 19%, 95%, 1);
