@import 'colors';
@import 'fonts';
@import 'reset';
@import 'config';
@import 'components/breadcrumb';
@import 'components/login';
@import 'components/form';
@import 'components/tables';
@import 'components/header';
@import 'components/footer';
@import 'components/error';
@import 'components/mark';
@import 'components/timetable';

html {
  height: 100%;
}


body {
  background: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: $darkColor1;
  font-size: 14px;

  min-height: 100%;
  display: flex;
  flex-direction: column;

}
#wrapper {
    position: relative;
  flex: 1;
}

input {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: $mainColor;
}


#wrapper {
    background: #fff;
    margin: 0 auto;
    padding: 1.5rem;
    @include main_width;
}
