@import 'colors';
@import 'fonts';
@import 'reset';
@import 'config';
@import 'components/login';
@import 'components/form';
@import 'components/tables';
@import 'components/header';
@import 'components/footer';




body {
  background: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: $darkColor1;
  font-size: 14px;
}
#wrapper {
	min-height: 100vh;
	position: relative;
}

input {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: $mainColor;
}


#wrapper {
	background: #fff;
	margin: 0 auto;
	padding: 1.5rem;
	@include main_width;
}
